<ul>
    <li><a routerLink="">Accueil</a></li>
    <li><a routerLink="about">About</a></li>
  </ul>
  <div class="container color-dark">
    <div class="col">
      <p> Premier bloc </p>
    </div>
    <div class="col">
        <p> Deuxième bloc </p>
    </div>
  </div>
  <div class="container color-light" >
      <div class="col">
        <p class="sm"> premier bloc dans containeer color-light </p>     
      </div>
      <div class="col">
        <p class="life-container" >
          deuxième bloc dans containeer color-light 
        </p>
    </div>
  </div>
  